@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Aloevera-Bold";
    src: url("../fonts/Aloevera-Bold.otf") format("opentype");
}